header{height: 75px; background-color:white; border: 1px solid    #cfc1c0;
    position: fixed; width: 100%; z-index: 9999; top: 0; left: 0;}

.wrapper h1{color:gray; line-height: 75px; float: left; margin: 0}
.wrapper h1:hover{color: orange;}

.menu{float:right; list-style:none;}
.menu li{float:left; font-size: 20px;}
.menu a{line-height: 55px; color: gray; padding: 0 15px; display: block; text-decoration-line:none;}
.menu a:hover{color: orange;}

.wrapper{width: 1170px; margin: 0 auto;}
.clearfix{content: ''; display: block; clear: both;}    

body {margin: 0;}


.seoul1{
    position: relative;
    background: url(Seoul3.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.seoul1_cover{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:1;
}


.seoul1_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    z-index: 2;
    text-align: center;
    line-height: 100px;
}

.seoul1_title h1{
    color:white;
}

.seoul1_title h2{
    color:white;
}

.beforeseoul {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
.beforeseoul table {
    margin: 0 auto;

    text-align: center;
    

  }

.beforeseoul_3{
    text-align: center;
    margin: 0px auto;

 

    width: 800px;
    height: 1100px;
}


.beforeseoul_33{
    width: 100%;
    height: 100%;
    text-align: center;

}


.beforeseoul_2{
    text-align: center;
    font-size: 50px;
    line-height: 50px;    
}

.Korea{
    position: relative;
    text-align: center;
}

#Places1{
    background: darkcyan;
    text-align: center;
    margin: 0px auto;
    
}

#Places1 table{
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 20px white;
    background-color: white;

}

.PlacesImg:hover{
    box-shadow: 0 0 0 3px darkcyan;
}

#Food1{
    background: rgb(34, 34, 34);
    text-align: center;
    margin: 0px auto;
    
}

#Food1 table{
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 20px white;
    background-color: white;

}

.FoodImg:hover{
    box-shadow: 0 0 0 3px rgb(34, 34, 34);
}

#Entertainment1{
    background: rgb(206, 180, 33);
    text-align: center;
    margin: 0px auto;
    
}

#Entertainment1 table{
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 20px white;
    background-color: white;

}

.EntertainmentImg:hover{
    box-shadow: 0 0 0 3px rgb(206, 180, 33);
}
